html, body {
  margin: 0;
  padding: 0;
	background-color:rgba(9,9,9,1.00);
	color: white;
	font-family: 'East Sea Dokdo', cursive;
}

canvas {
	display: block;
}

h1 {
	font-size: 75px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 35px;
}

span,  p {
	font-size: 22px;
}
.topnav {
	position: fixed;
  overflow: hidden;
	text-align: right;
  background-color: #000000;
	width: 100%;
	margin: 0px;
  padding: 0px;
	z-index: 100;
}

.topnav a {
	float: right;
	margin: 0;
	padding: 13px 25px;
	display: block;
  color: #dedede;
	text-align: center;
  text-decoration: none;
  font-size: 20px;
}

#title {
	z-index: 101;
	float: left;
	color: white;
	font-size: 28px;
	padding: 8px 25px;
	position: fixed;
	text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#title:hover {
	color: rgba(255,202,0,1.00);
	background-color: #000000;
}

#home {
	margin: 0;
	background-size: auto 100%;
	background-position: center;
	background-origin: inherit;
	background-image: url(cover.jpg);
	background-repeat: no-repeat;
	text-align: center;
	padding: 20% 5%;
}

#home h1 {


	
}


#background ul{
	text-align: center;
	padding: 0% 3%;
}

#background li{
	padding: 0 3%;
	text-align: left;
	display: inline-block;
	width: 40%;
}


#outcome video {border-color:rgba(19,19,19,1.00); border: thin; border-style: solid;}

* {box-sizing: border-box;}

.img-comp-container {
	width: 10%;
  position: relative;
	text-align: center;
  height: 168.75px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
	
}


.img-comp-img img {
	width: 800px;
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 20px;
  height: 20px;
  background-color: #464646;
  opacity: 0.5;
  border-radius: 50%;
}

#interactiveA {
		display: block;
	}

#process {
	text-align: center;
}

#research1text {display: inline-block; float: left; width: 50%;  padding: 0 0 0 5%; text-align: left;}
#research1img{width: 50%; display: inline-block; padding: 0 5% ;}

#research2img {width: 40%; display: inline-block; padding: 0 0 0 5% ;float: left;}
#research2text {width: 60%; display: inline-block; padding: 0 5%; text-align: left;}


.mySlides {display: none}
.mySlides fade img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin: 0;
	z-index: 1;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 13px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
	border-radius: 10px;
}
.prev {
	left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(255,202,0,1.00);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#DCimg1, #DCimg2, #DCimg3 {width: 20%; height: auto;}
#CPimg1, #CPimg2 {width: 49%; height: auto;}

.implementation {
	background-color: transparent;
	color: white;
  cursor: pointer;
  padding: 10px 2%;
  width: 90%;
  border: none;
	text-align: left;
  outline: none;
	font-family: 'East Sea Dokdo', cursive;
	border-radius: 10px;
  font-size: 35px;
  transition: 0.4s;
}

.implementation:hover {
	margin: 0;
	color: rgba(255,202,0,1.00);
  background-color:rgba(33,33,33,1.00);
}
.implementationactive {
	color: rgba(255,202,0,1.00);
}


.implementation:after {
  content: '\002B';
	
  float: right;
}

.implementationactive:after {
  content: "\2212";
	font-size: 28px;
}

.panel {
	text-align: center;
  padding: 0 5%;
	margin: 1% 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
* {
  box-sizing: border-box;
}

.galleryRow {
	display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery {
		-ms-flex: 33.3%; /* IE10 */
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
	}

	.gallery img {margin-top: 8px;
  vertical-align: middle;
  width: 100%;
		height: auto;
	}

#citation a {
		color: rgba(255,202,0,1.00);
	text-decoration: none;
}

#contact {
	background-color: black;
	width: 100%;
	float: right;
	text-align: right;
	padding: 3% 5%;
	margin-bottom: 5%;
}

@media screen and (max-width: 800px) {
	.topnav a {
		display: none;
	}
	#title {
		background-color: black;
		width: 100%;
	}
	
	#background li {width: 49%;}
	
	#home h1{background-size: auto;}
	
	#research1text {width: 100%; float: none;clear: both; padding: 10% 10%}
	#research1img {width: 100%; float: none; clear: both;}
	
	#research2img {width: 100%; height: auto;  float: none; display: block; clear: inherit;}
	#research2text {width: 100%; float: none; display: block; padding: 0% 10%}
	
	.text, .prev, .next {font-size: 18px}
	.dot {width: 10px; height: 10px;}
	.panel img {width: 90%;}
	
	.gallery {-ms-flex: 50%;
    flex: 50%;
    max-width: 50%;}
}

@media screen and (max-width:550px) {
	.topnav{
		display: none;
	}
	.topnav #title{
		display: block;
	}
	#background li{
		text-align: left;
		width: 100%;
	}
	
	#outcome video {
		width: 90%;
	}
	
	#interactiveA {
		display: none;
	}
	
	#DCimg1, #DCimg2, #DCimg3 {width: 40%;}
	#CPimg1, #CPimg2 {width: 70%; height: auto;}
	
	.dot {width: 6px; height: 6px;}
	
	.panel img {width: 100%}
	
	.gallery {
		-ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
	}
}
